<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css" />
</head>

<body>
  <table style="
        width: 100%;
        max-width: 800px;
        border: 0px;
        border-spacing: 0px;
        border-collapse: separate;
        margin-right: auto;
        margin-left: auto;
      ">
    <tr style="padding: 0px">
      <td style="padding: 0px">
        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr style="padding: 0px">
            <td style="padding: 2.5%; width: 60%; vertical-align: middle">
              <h1>Jiangmiao Pang</h1>
              <p>
                Hi! I am a Research Scientist at
                <a href="https://www.shlab.org.cn/">Shanghai AI Laboratory</a>
                and head the Embodied AI Center. <font color="red">We go with <a href="https://github.com/InternRobotics">Intern Robotics</a></font>.
                <!-- Before that, I was with <a href="https://mmlab.ie.cuhk.edu.hk/index.html">MMLab@CUHK</a> and
                worked with <a href="http://dahua.site/">Prof. Dahua Lin</a>. -->
              </p>
              <p>
                <!-- We are dedicated to building Embodied AGI systems and
                  empowering academia and industry through open-source
                  initiatives. -->
                Our mission is to develop Embodied AGI systems and build inclusive infrastructure for the community.
                We hope to solve real-world challenges, transforming cutting-edge research into practical,
                scalable solutions.
              </p>

              <p>
                <!-- <font color="red"> -->
                If you share our vision, please do not hesitate to
                <a target="_blank" href="mailto:pangjiangmiao@gmail.com">
                  contact me</a>!
                <!-- </font> -->
                <!-- Currently, we are focusing on multi-modal perception, interaction, and their conjunction with robot
                                learning. We are building various real embodied systems so as expected to create positive impacts on
                                humans. -->
                <!-- <font color="red"> -->
                We have positions for researchers, engineers, interns (>6 months), and
                joint-training PhD students, with directions spanning humanoids,
                perception, interaction, manipulation, navigation, physical
                simulation, and 4D AIGC.
                <!-- </font> -->
              </p>

              <p>
                Some previous open-source efforts:
                <a href="https://github.com/open-mmlab/mmdetection">MMDetection</a>
                <a href="https://github.com/open-mmlab/mmdetection"><img alt="GitHub Stars"
                    style="vertical-align: middle"
                    src="https://img.shields.io/github/stars/open-mmlab/mmdetection?style=social" /></a>,
                <a href="https://github.com/open-mmlab/mmtracking">MMTracking</a>
                <a href="https://github.com/open-mmlab/mmtracking"><img alt="GitHub Stars"
                    style="vertical-align: middle"
                    src="https://img.shields.io/github/stars/open-mmlab/mmtracking?style=social" /></a>, and
                <a href="https://github.com/open-mmlab/mmdetection3d">MMDetection3D</a>
                <a href="https://github.com/open-mmlab/mmdetection3d"><img alt="GitHub Stars"
                    style="vertical-align: middle"
                    src="https://img.shields.io/github/stars/open-mmlab/mmdetection3d?style=social" /></a>.
                <!-- My works
                have won 1st prizes at COCO Object Detection Challenge 2018 and 2019 (without external data), and 1st
                runner-up at Waymo 2D Object Tracking Challenge 2020. -->
              </p>
              <p style="text-align: center">
                <a target="_blank" href="mailto:pangjiangmiao@gmail.com">
                  Email</a>
                &nbsp;/&nbsp;
                <a href="https://github.com/oceanpang">GitHub</a>
                &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=ssSfKpAAAAAJ&hl=en">Google Scholar</a>
                &nbsp;/&nbsp;
                <a href="https://twitter.com/pangjiangmiao">Twitter</a>
                &nbsp;/&nbsp;
                <a href="https://www.zhihu.com/people/pangjiangmiao">Zhihu</a>
              </p>
            </td>
            <td style="padding: 2.5%; width: 40%; max-width: 40%">
              <img style="width: 100%; max-width: 100%" alt="profile photo" src="images/myself.png" />
            </td>
          </tr>
        </table>

        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr>
            <td style="padding: 2.5%; width: 100%; vertical-align: middle">
              <h2>News</h2>
              <ul>
                <li>
                  <!-- <font color="red"> -->
                  The website is updated occasionally. For the most recent
                  updates, please refer to my
                  <a
                    href="https://scholar.google.com/citations?hl=en&user=ssSfKpAAAAAJ&view_op=list_works&sortby=pubdate">Google
                    Scholar</a>. : )
                  <!-- </font> -->
                </li>
                <li>
                  [2025/06] HoST has been selected as a <font color="red">Best Systems Paper Finalist</font> at RSS 2025!
                </li>
                <li>
                  [2025/04] Check out <a href="https://infinite-mobility.github.io/">Infinite Mobility</a> that
                  generates interactive objects and <a href="https://aether-world.github.io/">Aether</a>, our
                  embodied 4D world model.
                </li>
                <li>
                  [2025/04] [RSS 2025] Check out our manipulation works <a
                    href="https://yangsizhe.github.io/robosplat/">RoboSplat</a> and <a
                    href="https://yuyinyang3y.github.io/PPI/">PPI</a>.
                </li>
                <li>
                  [2025/04] [RSS 2025] Check out our humanoid works <a href="https://hugwbc.github.io/">HugWBC</a>,
                  <a href="https://taohuang13.github.io/humanoid-standingup.github.io/">HoST</a>,
                  <a href="https://why618188.github.io/beamdojo/">BeamDojo</a>, and <a
                    href="https://homietele.github.io">Homie</a>.
                </li>
                <!-- <li>
                  [2025/02] We find some interesting observations on Sim2Real
                  in manipulation, check out
                  <a href="https://xshenhan.github.io/Re3Sim/">Re3Sim</a>
                  and stay tuned.
                </li> -->
                <li>
                  [2025/02]
                  <a href="https://nimolty.github.io/Seer/">Seer</a>, a
                  scalable learner for robotic manipulation, is accepted at
                  ICLR 2025 as an Oral Presentation.
                </li>
                <li>
                  [2024/11] We present
                  <a href="https://junfeng-long.github.io/PIM/">Perceptive Internal Model (PIM)</a>
                  for Humanoid Locomotion.
                </li>
                <li>
                  [2024/09] PointLLM receives
                  <font color="red">Best Paper Candidate Award</font> at ECCV
                  2024!
                </li>
                <li>
                  [2024/07] We present GRUtopia, a simulation platform with
                  versatile scenes for Embodied AI.
                </li>
                <li>
                  [2024/01] We present PointLLM & EmbodiedScan for Perception,
                  UniHSI for Interaction, and HIMLoco for Control.
                </li>
                <li>
                  [2023/06] OC-SORT is accepted to CVPR 2023. It is recognized
                  as one of the Most Influential CVPR Papers.
                </li>
                <!-- <li>
                  [2022/10] DfM and DenseSiam are accepted to ECCV 2022. DfM is selected as Oral Presentation.
                </li>
                <li>
                  [2022/06] Video K-Net is accepted to CVPR 2022 as Oral Presentation.
                </li> -->
              </ul>
            </td>
          </tr>
        </table>

        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr>
            <td style="padding: 2.5%; width: 100%; vertical-align: middle">
              <h2>Selected Publications</h2>
              --> For the full publication list, please refer to my
              <a href="https://scholar.google.com/citations?hl=en&user=ssSfKpAAAAAJ&view_op=list_works&sortby=pubdate">Google
                Scholar</a>.
              <!-- <p>
                &dagger; denotes corresponding author. * denotes equal
                contribution.
              </p> -->
              <!-- Value: init categories_list with a long string -->
              {% assign categories_list = "All Selected Publications,Simulation/Hardware Systems for Embodied AI,Humanoids and Motion Intelligence,Manipulation and Navigation Intelligence,AIGC for Embodied AI,3D Vision and Embodied Perception" | split: "," %}

              <table style="
                    width: 100%;
                    border: 0px;
                    margin-right: auto;
                    margin-left: auto;
                  ">
                <tr>
                  <td style="text-align: left">
                    <a href="#" onclick="event.preventDefault();showTable('{{categories_list[0]}}')"
                      class="nav-link">All Selected Publications</a>
                  </td>
                  <td style="text-align: left">
                    <a href="#" onclick="event.preventDefault();showTable('{{categories_list[1]}}')"
                      class="nav-link">Simulation/Hardware Systems for Embodied AI</a>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: left">
                    <a href="#" onclick="event.preventDefault();showTable('{{categories_list[2]}}')"
                      class="nav-link">Humanoids and Motion Intelligence</a>
                  </td>
                  <td style="text-align: left">
                    <a href="#" onclick="event.preventDefault();showTable('{{categories_list[3]}}')"
                      class="nav-link">Manipulation and Navigation Intelligence</a>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: left">
                    <a href="#" onclick="event.preventDefault();showTable('{{categories_list[4]}}')" class="nav-link">AIGC for Embodied AI</a>
                  </td>
                  <td style="text-align: left">
                    <a href="#" onclick="event.preventDefault();showTable('{{categories_list[5]}}')" class="nav-link">3D
                      Vision and Embodied Perception</a>
                  </td>
                  <!-- <td style="text-align: left">
                    <a href="#" onclick="event.preventDefault();showTable('{{categories_list[5]}}')"
                      class="nav-link">Others</a>
                  </td> -->
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <br />
        <!-- Layout: Create 5 tables, each representing a category from the list-->
        <div id="table-container">

          {% for category in categories_list %}
          <table id="{{category}}" style="
                width: 100%;
                border: 0px;
                border-spacing: 0px;
                border-collapse: separate;
                margin-right: auto;
                margin-left: auto;
              ">
            {% for post in site.posts %} {% if post.sub_fields == category or post.sub_fields2 == category or "All Selected Publications" == category%}
            <tr>
              <td style="
                    padding: 2.5%;
                    width: 25%;
                    vertical-align: middle;
                    min-width: 120px;
                  ">
                <img src="/{{post.image}}" alt="project image" style="width: auto; height: auto; max-width: 100%" />
              </td>
              <td style="padding: 0%; width: 75%; vertical-align: middle">
                <h3>{{post.title}}</h3>
                <br />
                {{post.authors}}
                <br />
                <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} {% if
                post.highlight %}
                <br />
                <font style="color: red">{{post.highlight}}</font>
                {% endif %}
                <br />
                {% if post.page %}
                <a href="{{post.page}}">project page</a> / {% endif %} {% if
                post.arxiv %} <a href="{{post.arxiv}}">arXiv</a> {% endif %}
                {% if post.code %} / <a href="{{post.code}}"> code</a>
                {% endif %}
                <p></p>
                {{ post.excerpt }}
              </td>
            </tr>
            {% endif %} {% endfor %}
          </table>
          {% endfor %}
        </div>

        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr>
            <td style="padding: 2.5%; width: 100%; vertical-align: middle">
              <h2>Selected Awards</h2>
              <ul>
                <li>Best Systems Paper Finalist, RSS 2025</li>
                <li>Best Paper Candidate Award, ECCV 2024</li>
                <li>World's Top 2% Scientist, Stanford University</li>
                <li>Most Influential CVPR Papers, OC-SORT in CVPR 2023</li>
                <li>
                  Best Paper Award of Workshop on 3D Object Detection from
                  Images, ICCV 2021
                </li>
                <!-- <li>Doctoral Consortium Award, CVPR 2021</li> -->
                <li>
                  1st runner up at Waymo 2D Object Tracking Challenge, CVPR
                  2020
                </li>
                <li>Outstanding Reviewer, ICCV 2019</li>
                <li>
                  1st prize at COCO Object Detection Challenge (without
                  external data), ICCV 2019
                </li>
                <li>
                  1st prize at COCO Object Detection Challenge, ECCV 2018
                </li>
              </ul>
            </td>
          </tr>
        </table>
        <!-- 
        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr>
            <td style="padding: 2.5%; width: 100%; vertical-align: middle">
              <h2>Services</h2>
              <ul>
                <li>
                  Conference Reviewer: CVPR, ICCV, ECCV, RSS, CoRL, NeurIPS,
                  ICLR, ICML, AAAI, IROS, ACCV
                </li>
                <li> -->
        <!-- Journal Reviewer: TPAMI, IJCV, TRO, TIP, RA-L, TGRS,
                  Neurocomputing, Pattern Recognition Letters, Signal
                  Processing Letters
                </li>
              </ul>
            </td>
          </tr>
        </table> -->

        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr>
            <td style="padding: 0px">
              <br />
              <p style="text-align: center; font-size: small">
                <a href="https://www.easycounter.com/">
                  <img src="https://www.easycounter.com/counter.php?pangjiangmiao" border="0" alt="HTML Counter" /></a>
                <br />
                Design and source code from
                <a style="font-size: small" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <script>
    // Function: Show the table with the given ID and hide other tables.
    function showTable(tableId) {
      const tables = document.querySelectorAll("#table-container table");
      tables.forEach((table) => {
        table.style.display = table.id === tableId ? "table" : "none";
      });

      const navLinks = document.querySelectorAll(".nav-link");
      navLinks.forEach((link) => {
        link.style.color = "#007BFF";
        const onclickValue = link.getAttribute("onclick");
        const clickedId = onclickValue.match(/'([^']+)'/)[1];
        if (clickedId === tableId) {
          link.style.color = "red";
        }
      });
    }

    document.addEventListener("DOMContentLoaded", () => {
      showTable("All Selected Publications");
    });
  </script>
</body>

</html>
