<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css" />
</head>

<body>
  <table style="
        width: 100%;
        max-width: 800px;
        border: 0px;
        border-spacing: 0px;
        border-collapse: separate;
        margin-right: auto;
        margin-left: auto;
      ">
    <tr style="padding: 0px">
      <td style="padding: 0px">
        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr style="padding: 0px">
            <td style="padding: 2.5%; width: 60%; vertical-align: middle">
              <h1>Yuanzhe Liu</h1>
              <p>
                Hi! I am a Master's student in Data Science at the
                <a href="https://www.upenn.edu/">University of Pennsylvania</a>.
                Previously, I earned a Bachelor's degree in Mathematics from
                <a href="https://www.wisc.edu/">UW–Madison</a>.
                I am currently a visiting Research Assistant at UIUC, where I am
                fortunate to work with Prof.
                <a href="https://isminoula.github.io/">Ismini Lourentzou</a>
                and Prof.
                <a href="https://rehg.org/">James M. Rehg</a>.
                At Penn, I was fortunate to work with Prof.
                <a href="https://www.cis.upenn.edu/~ccb/">Chris Callison-Burch</a>
                and Prof.
                <a href="https://www.cis.upenn.edu/~danroth/">Dan Roth</a>.
              </p>
              <p>
                My research focuses on the capability of embodied agents and
                applying them for perception, reasoning, and planning in the
                physical world. My work lies at the intersection of
                <strong>Multimodal Learning</strong> (VLMs/MLLMs),
                <strong>Robot Learning</strong> (Robotic Foundation Models, VLA),
                and <strong>Deep Reinforcement Learning</strong>.
              </p>
              <p style="text-align: center">
                <a href="mailto:yuanzhel@seas.upenn.edu">Email</a>
                &nbsp;/&nbsp;
                <a href="https://github.com/yuanzhel0903">GitHub</a>
                &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=BkjxjvoAAAAJ">Google Scholar</a>
                &nbsp;/&nbsp;
                <a href="https://twitter.com/YOUR_TWITTER">Twitter</a>
                &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/YOUR_LINKEDIN">LinkedIn</a>
              </p>
            </td>
            <td style="padding: 2.5%; width: 40%; max-width: 40%">
              <img style="width: 100%; max-width: 100%; border-radius: 50%;" alt="profile photo" src="images/yuanzheliu_photo.jpg" />
            </td>
          </tr>
        </table>

        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr>
            <td style="padding: 2.5%; width: 100%; vertical-align: middle">
              <h2>News</h2>
              <ul>
                <li>
                  The website is updated occasionally. For the most recent updates, please refer to my
                  <a href="https://scholar.google.com/citations?user=BkjxjvoAAAAJ">Google Scholar</a>. : )
                </li>
                <li>[2026/01] <a href="https://arxiv.org/pdf/2601.07060">PALM</a> is released on arXiv!</li>
                <li>[2025/07] Started Research Internship at UIUC, Champaign IL.</li>
                <li>[2025/05] Started LLM Algorithm Internship @ Baidu, Beijing.</li>
                <li>[2024/08] Started Research Internship at UPenn, Philadelphia PA.</li>
                <li>[2024/05] Started LLM Algorithm Internship @ Alibaba Cloud, Hangzhou.</li>
              </ul>
            </td>
          </tr>
        </table>

        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr>
            <td style="padding: 2.5%; width: 100%; vertical-align: middle">
              <h2>Selected Publications</h2>
              &rarr; For the full publication list, please refer to my
              <a href="https://scholar.google.com/citations?user=BkjxjvoAAAAJ">Google Scholar</a>.
            </td>
          </tr>
        </table>
        <br />
        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          {% for post in site.posts %}
          <tr>
            <td style="padding: 2.5%; width: 25%; vertical-align: middle; min-width: 120px;">
              {% if post.video %}
              <video style="width:100%;height:auto;display:block;cursor:default;" muted loop preload="metadata"
                onmouseenter="this.play()" onmouseleave="this.pause();this.currentTime=0;">
                <source src="/{{ post.video }}" type="video/mp4">
              </video>
              {% else %}
              <img src="/{{ post.image }}" alt="project image" style="width: auto; height: auto; max-width: 100%" />
              {% endif %}
            </td>
            <td style="padding: 0%; width: 75%; vertical-align: middle">
              <h3>{% if post.page %}<a href="{{ post.page }}">{{ post.title }}</a>{% else %}{{ post.title }}{% endif %}</h3>
              <br />
              {{ post.authors }}
              <br />
              <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}
              {% if post.highlight %}
              <br />
              <font style="color: red">{{ post.highlight }}</font>
              {% endif %}
              <br />
              {% if post.page %}<a href="{{ post.page }}">project page</a> / {% endif %}
              {% if post.arxiv %}<a href="{{ post.arxiv }}">arXiv</a>{% endif %}
              {% if post.code %} / <a href="{{ post.code }}">code</a>{% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endfor %}
        </table>

        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr>
            <td style="padding: 2.5%; width: 100%; vertical-align: middle">
              <h2>Services</h2>
              <ul>
                <li><strong>Conference Reviewer:</strong> CVPR, AAAI, NeurIPS</li>
                <li><strong>Workshops Reviewer:</strong> CVPR 2026 Workshop on Computer Vision for Children (CV4CHL)</li>
              </ul>
            </td>
          </tr>
        </table>
        <!-- 
        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr>
            <td style="padding: 2.5%; width: 100%; vertical-align: middle">
              <h2>Services</h2>
              <ul>
                <li>
                  Conference Reviewer: CVPR, ICCV, ECCV, RSS, CoRL, NeurIPS,
                  ICLR, ICML, AAAI, IROS, ACCV
                </li>
                <li> -->
        <!-- Journal Reviewer: TPAMI, IJCV, TRO, TIP, RA-L, TGRS,
                  Neurocomputing, Pattern Recognition Letters, Signal
                  Processing Letters
                </li>
              </ul>
            </td>
          </tr>
        </table> -->

        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr>
            <td style="padding: 0px">
              <br />
              <p style="text-align: center; font-size: small">
                Design and source code from
                <a style="font-size: small" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</body>

</html>
